---
import icon from "./icon.svg"

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={icon.src} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
