type "ElkNode" "struct"
type "LayoutOpts" "struct"

* {
    req {
        mime "application/json"
    }

    res {
        mime "application/json"
        header "Content-Length" "int32" minimum=1
    }
}

POST "/json" {

    req "struct" {
        root "ElkNode"
        opts "LayoutOpts"
    }

    res {
        "200" "ElkNode"
        "500" "unknown"
    }
}
