info {
    title: "yanic"
    version: "1.0.0"
}

external: "YtDlInfo"
external: "YtDlOpts"

struct "InfoReq" {
    url: "httpURL"
    opts "YtDlOpts"
}

struct "DownloadReq" {
    info "YtDlInfo"
    opts "YtDlOpts"
}

forAll {
    req {
        mime "application/json"
    }

    res {
        mime "application/json"
        header "Content-Length" "int32" minimum=1

    //  TODO responses can be components
        "400" "text/plain" "string" minLength=1
        "422" "text/plain" "string" minLength=1
    }
}

POST "/info" {
    req "InfoReq"
    res {
        "200" "YtDlInfo"
    }
}

POST "/download" {
    req "DownloadReq"
    res {
        "200" "unknown"
    }
}
